spring:
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.H2Dialect
                format_sql: 'true'
        hibernate:
            ddl-auto: update
        database-platform: org.hibernate.dialect.H2Dialect
    datasource:
        driverClassName: org.h2.Driver
        password: password
        username: develop
        url: jdbc:h2:mem:developdb
    profiles:
        active: dev
    h2:
        console:
            enabled: 'true'
jwt:
    expire-length: '3600000'
    token: ultraSecretKeyPlus69
server:
    port: '8080'